# node
node_modules/

# environment variables
.env

# local custom stuff
docker-commands.sh
database.sqlite.hook_backup
data/
test.sqlite

# coverage files
.coverage.lcov
coverage/lcov-report
coverage/tmp